* {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.floating-contact {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color:#f12a01;
}

.floating-contact a {
  text-decoration: none;
  color: #fff;
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #1c2542;
  display: flex;
  justify-content: space-around;
}

.scrolled {
  position: sticky;
  top: 0%;
  background-color:#f12a01;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}




.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
.ham {
display: none;
padding: 2px;
cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
display: block;
width: 35px;
height: 2px;
margin: 5px auto;
background-color: black;
transition: 0.4s;
position: relative;
top: 0px;
}
.closebtn {
display: none;
color: black;
font-size: 40px;
cursor: pointer;
position: relative;
left: 50px;

}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}











.logo img {
  height: 70px;
}

ul {
  margin-top: 10px;
  display: flex;
}

ul li {
  list-style: none;
  margin: 10px;
  font-weight: 800;
}

ul a {
  text-decoration: none;
  color: white;
}
#Apply {
  border: 2px solid white;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
}
.dropbtn {
  background-color: #1c2542;
  color: white;
  padding: 20px;
  font-weight: 800;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.scrolled .dropbtn {
  background-color: #f12a01;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.box {
  padding: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  /* top: 50px; */
}
.bg-back {
  background-image: url(/img/istockphoto-1344771294-612x612.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  background-blend-mode: multiply;
  background-color: rgba(9, 29, 62, 0.63);
}
.create {
  height: 500px;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  /* background-color: bisque; */
  background-color: #1c2542;
  color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#date-of-birth {
  padding: 30px;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
span a {
  text-decoration: none;
  color: red;
}

@media only screen and (max-width: 768px) {
  .ham {
    display: block;
    padding: 2px;
    cursor: pointer;
    position: relative;
    top: 20px;
  }
  .header img {
    height: 50px;
}
nav {
  z-index: 2;
  display: none;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 0%;
  color: white;
  left: 0%;
  width: 70%;
  padding: 50px;
  transition: all 0.6s ease-in-out; 
}
.normal-contanct {
  display: none;
}
.socials {
  display: none;
}
.create {
  /* height: 500px; */
  border-radius: 10px;
  padding: 5px;
  width: 500px;
}
}
@media only screen and (max-width: 450px) {
  .create {
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
  }
  .box {
    padding: 0px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 120px;
  }
}

footer {
  background-color: #1c2542;
}
.footer-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.footer-box {
  color: rgb(204, 198, 198);
  margin: 10px;
  padding: 20px;
  width: 300px;
  /* height: 300px; */
  /* background-color: yellow; */
}
.footer-box p {
  font-size: 15px;
  padding-top: 10px;
}
.footer-box img {
  height: 100px;
}
.foot {
  padding: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.foot  a {
  text-decoration: none;
  color: #f12a01;
}
.foot-box {
  /* background-color: red; */
  width: 300px;
  margin: 10px;
}
.horiz-div {
  display: grid;
  justify-content: center;
}
.hron {
  width: 400px;
  height: 1px;
  background-color: #f1f1f1;
}
footer input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  color: white;
  display: inline-block;
  border: 1px solid #f12a01;
  border-radius: 4px;
  background-color: #1c2542;
  box-sizing: border-box;
}
