* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.floating-contact {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color:#f12a01;
}

.floating-contact a {
    text-decoration: none;
    color: #fff;
}

header {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #1c2542;
    display: flex;
    justify-content: space-around;
}

.scrolled {
    position: sticky;
    top: 0%;
    background-color:#f12a01;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}




.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.ham {
  display: none;
  padding: 2px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  display: block;
  width: 35px;
  height: 2px;
  margin: 5px auto;
  background-color: black;
  transition: 0.4s;
  position: relative;
  top: 0px;
}
.closebtn {
  display: none;
  color: black;
  font-size: 40px;
  cursor: pointer;
  position: relative;
  left: 50px;

}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}











.logo img {
    height: 70px;
}

ul {
    margin-top: 10px;
    display: flex;
}

ul li {
    list-style: none;
    margin: 10px;
    font-weight: 800;
}

ul a {
    text-decoration: none;
    color: white;
}
#Apply {
    border: 2px solid white;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
}
.dropbtn {
    background-color: #1c2542;
    color: white;
    padding: 20px;
    font-weight: 800;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .scrolled .dropbtn {
    background-color: #f12a01;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  

/* OWL SECTION */
.slide-one {
    background-image: url(/img/people-in-airport.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.63);
}

.slide-two {
    background-image: url(/img/photo-1539635278303-d4002c07eae3.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.63);
}

.slide-three {
    background-image: url(/img/istockphoto-1344771294-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.63);
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white !important;
    font-size: 70px !important;
    font-weight: bolder !important;
    background: none !important;
}

.owl-prev {

    top: 50%;
    left: 1%;
}

.owl-next {
    top: 50%;
    right: 1%;
}
.owl-carousel .item {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    position: relative;
    left: 10%;
    top: 35%;
    /* background-color: red; */
  }
  .text-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s, transform 0.8s;
  }
  .text-animation.show {
    opacity: 1;
    transform: translateY(0);
  }
  .owl-carousel h1 {
    font-size: 2rem;
    color: white;
  }
  #slide-button {
    background-color: #f12a01;
    padding: 10px;
    border: none;
    color: white;
    font-size: 20px;
    position: relative;
    top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    padding-right: 20px;
  }


  /* WRAPPER-ONE */
 
  .line-an {
    width: 100px;
    height: 8px;
    background-color: wheat;
    border-radius: 2px;
  }
  .circle-an {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    position: relative;
    background-color: #f12a01;
    animation: myfirst 2s linear 1s infinite alternate;
  }
  @keyframes myfirst {
      from {left: 0;}
      to {left: 90px;}
  }
  .box-holder {
    z-index: 5;
    position: relative;
    bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .box {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid wheat;
  }
  .box img {
    height: 70px;
    padding: 20px;
  }
  .box  h1 {
    padding: 20px;
  }
  .about-serv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .about-box {
    /* background-color: #f12a01; */
    width: 500px;
    margin: 15px;
  }
  .count-up {
    position: relative;
    bottom: 50px;
    background-color: #f12a01;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  #count {
    font-weight: 700;
  }
  .about-box h4 {
    color: gray;
    font-size: 20px;
  }
  .about-box h1 {
    font-weight: 300;
    font-size: 35px;
  }
  #bolder {
    font-weight: 800;
  }
  #para {
    padding-bottom: 20px;
  }
  #para1 {
    padding-bottom: 20px;
  }
  .about-box i {
    color: #f12a01;
    font-size: 30px;
    margin: 10px;
  }
  .chevron span {
    font-size: 15px;
    color: grey;
  }
  #slide-btn {
    background-color: #f12a01;
    padding: 10px;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .tk-blob {
    height: 200px;
    width: 300px;
  }
  /* WRAPPER-TWO */
  .wrapper-two {
    background-image: url(/img/photo-1499591934245-40b55745b905.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.63);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 50px;
  }
  .second-boxs {
    color: white;
    /* background-color: yellow; */
    width: 500px;
    /* height: 400px; */
    margin: 2px;
  }
   .second-boxs h2 {
    padding-bottom: 10px;
   }
    .second-boxs h3 {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  #small-carousel .owl-prev,
.owl-next {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white !important;
    font-size: 70px !important;
    font-weight: bolder !important;
    background: none !important;
}
  .small-slide-one {
    display: flex;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .small-slide-two {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .small-slide-three{
    display: flex;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #space-small-mobile {
    display: none;
  }
  #space-out-box {
    width: 800px;
    position: relative;
    left: 130px;
  }
  .small-container {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    color: black;
    text-align: center;
  }
  .small-container h1 {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
  }
  .small-container i {
    padding-top: 20px;
    font-size: 6rem;
    color: #f12a01;
  }
  
  /* WRAPPER-THREE */

  .content-text {
    padding: 30px;
    display: grid;
    text-align: center;
    justify-content: center;
  }
  #shifter {
    position: relative;
    left: 100px;
  }
  .content-text h5 {
    color: gray;
    font-size: 20px;
  }
  .content-text h1 {
    font-size: 28px;
  }
  #smaller-country {
    display: none;
  }
  .owl-dots {
    width: 100%;
    text-align: center;
  }
  .owl-dots span {
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    background-color: lawngreen !important;
  }
  
  .owl-dots span:active,
  .owl-dot:hover span {
    border: 1px solid white;
    background-color: rgb(231, 214, 115) !important;
  }
  .country-div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #mobile-checker {
    width: 70rem;
    /* background-color: blue; */
  }
  #mobile-checker .owl-prev {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white !important;
      font-size: 70px !important;
      font-weight: bolder !important;
      background: none !important;
  }
  #mobile-checker .owl-next {
    display: none;
  }
  .slide-1 {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .slide-2 {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .slide-3 {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .slide-4 {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .slide-5 {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .picture-one {
    /* background-color: #f12a01; */
    width: 400px;
    height: 500px;
    margin: 10px;
    border-radius: 20px;

    background-image: url(/img/2022_02_22_122819_1645545873._large.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
  #changeof-pic1 {
    background-image: url(/img/istockphoto-615398376-170667a.webp);
  }
  #changeof-pic2 {
    background-image: url(/img/city.jpg);
  }
  #changeof-pic7 {
    background-image: url(/img/city2.jpg);
  }
  #changeof-pic9 {
    background-image: url(/img/city3.jpg);
  }

  /* WRAPPER-FOUR */
  .wrapper-four {
    background-image: url(/img/2022_02_22_122819_1645545873._large.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(9, 29, 62, 0.63);
    background-attachment: fixed;
  }
  .testimony-content {
    padding: 50px;
    color: white;
    text-align: center;
    justify-content: center;
    display: grid;
  }
  .testimony-content h5 {
    color: #f12a01;
    font-size: 2rem;
  }


  .testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}

.testimonial {
    background-color: #fff;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.quote {
    font-style: italic;
    color: #555;
}

.client-info {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

  /* WRAPPER-FIVE */
  .wrapper-five {
    background-color: aliceblue;
  }
  .visa-pro {
    padding: 50px;
    display: grid;
    text-align: center;
    justify-content: center;
  }
  .icon-pro {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .icon-pro-box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
  }
  .icon-pro-box  img {
    padding: 10px;
    height: 80px;
  }
  .icon-pro-box  h1 {
    font-size: 45px;
  }
  .resurce {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .resourc-cont{
    font-size: 20px;
    width: 400px;
    margin: auto;
    color: gray;
    /* background-color: blue; */
  }
  .resourc-cont h1 {
    font-size: 30px;
    color: black;
  }
  .line-line {
    width: 200px;
    background-color:red;
    height: 5px;
  }
  .blog-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .newa-cont {
    width: 350px;
    height: 400px;
    margin: 20px;
    /* text-align: center; */
    justify-content: center;
    display: grid;
    background-color: white;
  }
  .news-bg {
    background-image: url(/img/istockphoto-1147066751-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 200px;
    border: 10px solid white;
  }
  .news-bg a {
    text-decoration: none;
    color: white;
    background-color: #f12a01;
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    top: 10px;
  }
  .newa-cont p {
    font-size: 15px;
    color: gray;
    text-align: center;
  }
  .newa-cont button {
    background-color: #f12a01;
    color: white;
    border: none;
    font-weight: 800;
    cursor: pointer;
  }
  #news-one {
    background-image: url(/img/photo-1507537362848-9c7e70b7b5c1.avif);
  }
  #news-two {
    background-image: url(/img/photo-1499591934245-40b55745b905.avif);
  }
  /* FOOTER */
  footer {
    background-color: #1c2542;
  }
  .footer-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .footer-box {
    color: rgb(204, 198, 198);
    margin: 10px;
    /* padding: 20px; */
    width: 300px;
    /* height: 300px; */
    /* background-color: yellow; */
  }
  .footer-box p {
    font-size: 15px;
    padding-top: 10px;
  }
  .footer-box img {
    height: 100px;
  }
  .foot {
    padding: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .foot  a {
    text-decoration: none;
    color: #f12a01;
  }
  .foot-box {
    /* background-color: red; */
    width: 300px;
    margin: 10px;
  }
  .horiz-div {
    display: grid;
    justify-content: center;
  }
  .hron {
    width: 400px;
    height: 1px;
    background-color: #f1f1f1;
  }
  footer input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: white;
    display: inline-block;
    border: 1px solid #f12a01;
    border-radius: 4px;
    background-color: #1c2542;
    box-sizing: border-box;
  }

  

  
  
  








  @media only screen and (max-width: 1440px) {
    .wrapper-two {
      background-image: url(/img/photo-1499591934245-40b55745b905.avif);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-color: rgba(9, 29, 62, 0.63);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      padding: 50px;
    }
    .second-boxs {
      color: white;
      width: 500px;
      /* height: 400px; */
      margin: 2px;
    }
     .second-boxs h2 {
      padding-bottom: 10px;
     }
      .second-boxs h3 {
        padding-top: 20px;
        padding-bottom: 30px;
      }
    #small-carousel .owl-prev,
  .owl-next {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white !important;
      font-size: 70px !important;
      font-weight: bolder !important;
      background: none !important;
  }
    .small-slide-one {
      display: flex;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .small-slide-two {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .small-slide-three{
      display: flex;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    #space-small-mobile {
      display: none;
    }
    #space-out-box {
      width: 700px;
      position: relative;
      left: 100px;
    }
    .small-container {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      background-color: white;
      margin: 10px;
      color: black;
      text-align: center;
    }
    .small-container h1 {
      color: black;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 1rem;
    }
    .small-container i {
      padding-top: 20px;
      font-size: 6rem;
      color: #f12a01;
    }
  }
  @media only screen and (max-width: 1321px) {
    .wrapper-two {
      background-image: url(/img/photo-1499591934245-40b55745b905.avif);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-color: rgba(9, 29, 62, 0.63);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      padding: 50px;
    }
    .second-boxs {
      color: white;
      width: 500px;
      /* height: 400px; */
      margin: 2px;
    }
     .second-boxs h2 {
      padding-bottom: 10px;
     }
      .second-boxs h3 {
        padding-top: 20px;
        padding-bottom: 30px;
      }
    #small-carousel .owl-prev,
  .owl-next {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white !important;
      font-size: 70px !important;
      font-weight: bolder !important;
      background: none !important;
  }
    .small-slide-one {
      display: flex;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .small-slide-two {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .small-slide-three{
      display: flex;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    #space-small-mobile {
      display: none;
    }
    #space-out-box {
      width: 800px;
      position: relative;
      left: 10px;
    }
    .small-container {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      background-color: white;
      margin: 10px;
      color: black;
      text-align: center;
    }
    .small-container h1 {
      color: black;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 1rem;
    }
    .small-container i {
      padding-top: 20px;
      font-size: 6rem;
      color: #f12a01;
    }
  }
  @media only screen and (max-width: 1024px) {
    .content-text {
      padding: 30px;
      display: grid;
      text-align: center;
      justify-content: center;
    }
    #shifter {
      position: relative;
      left: 10px;
    }
    .content-text h5 {
      color: gray;
      font-size: 20px;
    }
    .content-text h1 {
      font-size: 28px;
    }
    #smaller-country {
      display: none;
    }
    .owl-dots {
      width: 100%;
      text-align: center;
    }
    .owl-dots span {
      width: 10px;
      height: 10px;
      border: 1px solid gray;
      background-color: lawngreen !important;
    }
    
    .owl-dots span:active,
    .owl-dot:hover span {
      border: 1px solid white;
      background-color: rgb(231, 214, 115) !important;
    }
    .country-div {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    #mobile-checker {
      width: 50rem;
    }
    #mobile-checker .owl-prev {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white !important;
        font-size: 70px !important;
        font-weight: bolder !important;
        background: none !important;
    }
    #mobile-checker .owl-next {
      display: none;
    }
    .slide-1 {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .slide-2 {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .slide-3 {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .slide-4 {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .slide-5 {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    
    .picture-one {
      /* background-color: #f12a01; */
      width: 400px;
      height: 500px;
      margin: 10px;
      border-radius: 20px;
  
      background-image: url(/img/2022_02_22_122819_1645545873._large.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
    }
    #changeof-pic1 {
      background-image: url(/img/istockphoto-615398376-170667a.webp);
    }
    #changeof-pic2 {
      background-image: url(/img/city.jpg);
    }
    #changeof-pic7 {
      background-image: url(/img/city2.jpg);
    }
    #changeof-pic9 {
      background-image: url(/img/city3.jpg);
    }
  }
  @media only screen and (max-width: 768px) {
    header {
      width: 100%;
      position: fixed;
      z-index: 10;
      background-color: #1c2542;
      display: flex;
      justify-content: space-around;
  }
  .logo img {
    height: 40px;
}
    .ham {
        display: block;
        padding: 2px;
        cursor: pointer;
        position: relative;
        top: 10px;
    }
    nav {
        z-index: 2;
        display: none;
        height: 100vh;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 0%;
        color: white;
        left: 0%;
        width: 70%;
        padding: 50px;
        transition: all 0.6s ease-in-out; 
    }
    .normal-contanct {
        display: none;
    }
    .socials {
        display: none;
    }
    .closebtn {
        display: block;
        color: black;
        font-size: 40px;
        cursor: pointer;
        position: relative;
        left: 50px;
    
    }
    .owl-carousel .item {
      /* display: flex; */
      /* flex-direction: column; */
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 400px;
      position: relative;
      left: 15%;
      top: 35%;
      /* background-color: red; */
    }

    /* WRAPPER-ONE */
    .about-box img {
        height: 550px;
    }


    /* WRAPPER-TWO */
    #space-small-mobile {
        display: block;
      }
      #space-out-box {
        display: none;
      }
      /* WRAPPER-THREE */
      #mobile-checker {
        width: 500px;
      }
      #smaller-country {
        display: block;
      }
      #bigger-country{
        display: none;
      }

      /* FOOTER */
      .hron {
        width: 400px;
        height: 1px;
        background-color: #f1f1f1;
      }
    
  }
  @media only screen and (max-width: 480px) {
    /* WRAPPER-ONE */
    .box {
      text-align: center;
      width: 300px;
      height: 300px;
      margin: 10px;
      background-color: white;
      border-radius: 10px;
      border: 2px solid wheat;
    }
    .box img {
      height: 70px;
      padding: 10px;
    }
    .box  h1 {
      padding: 10px;
    }
    .about-box {
      /* background-color: #f12a01; */
      width: 300px;
      margin: 15px;
    }
    .about-box img {
      height: 300px;
  }
  .second-boxs {
    color: white;
    /* background-color: yellow; */
    width: 100%;
    /* height: 400px; */
    margin: 2px;
  }
  .picture-one {
    /* background-color: #f12a01; */
    width: 300px;
    height: 500px;
    margin: 10px;
    border-radius: 20px;

    background-image: url(/img/2022_02_22_122819_1645545873._large.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
  #mobile-checker {
    width: 100%;
    /* background-color: blue; */
  }

  /* FOOTER */
  .hron {
    width: 300px;
    height: 1px;
    background-color: #f1f1f1;
  }
  .footer-box img {
    height: 60px;
  }
  }